[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
mypy = "*"
awscli = "*"
rope = "*"
prospector = "*"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
flask-caching = "*"
python-dateutil = "<2.7.0"
gspread = "*"
python-jose-cryptodome = "*"
flask-cors = "*"
auth0-python = "*"
cffi = "*"
oauth2client = "*"

[requires]
python_version = "3.6"

[scripts]
predeploy = "python ../scripts/predeploy.py"
